<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BoDi" version="1.4.1" targetFramework="net462" />
  <package id="Cucumber.Messages" version="6.0.1" targetFramework="net462" />
  <package id="Dynamics365.UIAutomation.Api" version="9.1.0.17139" targetFramework="net462" />
  <package id="FluentAssertions" version="5.10.3" targetFramework="net462" />
  <package id="Gherkin" version="6.0.0" targetFramework="net462" />
  <package id="Google.Protobuf" version="3.7.0" targetFramework="net462" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="3.0.0" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.0.0" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="3.0.0" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="3.0.0" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.0.0" targetFramework="net462" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="Otp.NET" version="1.2.1" targetFramework="net462" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net462" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net462" />
  <package id="SpecFlow" version="3.1.97" targetFramework="net462" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net462" developmentDependency="true" />
  <package id="System.IO" version="4.3.0" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net462" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net462" />
  <package id="Utf8Json" version="1.3.7" targetFramework="net462" />
  <package id="YamlDotNet" version="8.1.2" targetFramework="net462" />
</packages>